@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* 
.balsamiq-sans-regular {
  font-family: "Balsamiq Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Balsamiq Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  overflow-x: hidden;
  background-color: #262626;
}

.App {
  min-height: 100vh;
  width: 100vw;
  color: white;
}

.header {
  width: 100vw;
  height: 10vh;
  border-bottom: 1px solid #6C6C6C;
  display: flex;
  justify-content: space-between;
  padding: 0 4vh;
}

.header .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10vh;
}
.header .title h1 {
  font-size: 3.7vh;
}
.header .title p {
  color: #DB8854;
  font-size: 1.8vh;
}

.header .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  color: white;
  text-decoration: none;
  padding: 1vh 2vh;
  font-size: 2vh;
  margin-left: 2vh;
  display: inline-block;
}

.header a.download {
  background-color: #6684FF;
  border-radius: 99999vh;
}

.index {
  padding: 4vh;
}
.index h1 {
  font-size: 5vh;
}
.index p {
  font-size: 2.5vh;
  color: #BFBFBF;
}
.index a.viewProject {
  display: inline-block;
  color: white;
  background-color: #6684FF;
  margin-top: 2vh;
  padding: 2vh 3vh;
  border-radius: 1vh;
  text-decoration: none;
  font-size: 3vh;
}

.index .comingSoon {
  font-size: 1.5vh;
  background-color: #767676;
  border-radius: 99999vh;
  padding: 0.5vh 2vh;
  display: inline-block;
  color: white;
  margin-left: 4vh;
  margin-top: 1vh;
}
.Index {
  position: 'relative'
}
.phonesCont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  gap: 10vh;
}
.phonesCont .column  {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.phonesCont .column p {
  font-size: 2vh;
}
.phonesCont .column img {
  width: 40vh;
  object-fit: contain;
}

.Admin {
  width: '100%';
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

@media screen and (max-width: 80vh) {
  
  .links > a {
    display: none;
  }
  .links > a:last-child {
    display: block;
  }

  .index {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .index > h1 {
    text-align: center;
  }
  .index > p {
    text-align: center;
  }


}