@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* 
.balsamiq-sans-regular {
  font-family: "Balsamiq Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Balsamiq Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  overflow-x: hidden;
  background-color: #262626;
  scroll-behavior: smooth;
}

.App {
  min-height: 100vh;
  width: 100vw;
  color: white;
}

.header {
  width: 100vw;
  height: 10vh;
  border-bottom: 1px solid #6C6C6C;
  display: flex;
  justify-content: space-between;
  padding: 0 4vh;
}

.header .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10vh;
}
.header .title h1 {
  font-size: 3.7vh;
}
.header .title p {
  color: #DB8854;
  font-size: 1.8vh;
}

.header .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  color: white;
  text-decoration: none;
  padding: 1vh 2vh;
  font-size: 2vh;
  margin-left: 2vh;
  display: inline-block;
}

.header a.download {
  background-color: #6684FF;
  border-radius: 99999vh;
}

.index {
  padding: 4vh;
}
.index h1 {
  font-size: 5vh;
}
.index p {
  font-size: 2.5vh;
  color: #BFBFBF;
}
.index a.viewProject {
  display: inline-block;
  color: white;
  background-color: #6684FF;
  margin-top: 2vh;
  padding: 2vh 3vh;
  border-radius: 1vh;
  text-decoration: none;
  font-size: 3vh;
}

.index .comingSoon {
  font-size: 1.5vh;
  background-color: #767676;
  border-radius: 99999vh;
  padding: 0.5vh 2vh;
  display: inline-block;
  color: white;
  margin-left: 4vh;
  margin-top: 1vh;
}
.Index {
  position: 'relative'
}
.phonesCont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  gap: 10vh;
}
.phonesCont .column  {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.phonesCont .column p {
  font-size: 2vh;
}
.phonesCont .column img {
  width: 40vh;
  object-fit: contain;
}

.Admin {
  width: '100%';
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.Admin .button {
  cursor: pointer;
  background-color: grey;
  padding: 5px 10px;
  border-radius: 10px;
}

@media screen and (max-width: 80vh) {
  
  .links > a {
    display: none;
  }
  .links > a:last-child {
    display: block;
  }

  .index {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .index > h1 {
    text-align: center;
  }
  .index > p {
    text-align: center;
  }


}


#features {
  margin-top: 5vh;
  padding-top: 5vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30vh;
}
#features > h1 {
  color: #DB8854;
  text-align: center;
  margin-bottom: 5vh;
}
.features {
  max-width: 100vh;
  padding-right: 3vh;
}
.feature {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10vh;
  gap: 0vh;
  position: relative;
  margin-bottom: 2vh;
}

.feature > .bullet {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -4vh;
  height: 1vh;
  width: 1vh;
  background-color: white;
  border-radius: 50%;
}

.feature > .top {
  display: flex;
  align-items: center;
}
.feature > .top > h1 {
  font-size: 2.7vh;
}
.feature > .top > img {
  height: 2vh;
  width: 2vh;
  object-fit: contain;
  margin-left: 2vh;
}

.feature > .bottom {
  color: #D5D5D5;
  font-size: 1.7vh;
}

/* Login page */
.LoginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh;
}

.LoginPage > h1 {
  margin-bottom: 5vh;
}

.LoginPage > input {
  outline: none;
  border: none;
  background-color: rgb(61, 61, 61);
  padding: 1vh 2vh;
  border-radius: 1vh;
  font-size: 2.5vh;
  margin: 2vh;
  color: white;
  max-width: 100vw;
}

.LoginPage > .submit {
  padding: 2vh 5vh;
  background-color: #6684FF;
  margin-bottom: 4vh;
  border-radius: 1vh;
  cursor: pointer;
}
.LoginPage a {
  color: #6684FF;
}

/* Dashboard */
.Dashboard * {
  font-family: "Quicksand", sans-serif !important;
  font-weight: 600;
}
.Dashboard {
  padding: 10px;
}
.Dashboard .username {
  display: flex;
  align-items: center;
  font-size: 20px;

}
.Dashboard .username img {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  object-fit: cover;
  margin-right: 1vh;
}

.Dashboard .logout {
  cursor: pointer;
  background-color: grey;
  padding: 5px 10px;
  border-radius: 10px;
}

.Dashboard .subscription_card {
  height: 70px;
  width: 400px;
  background-color: #1f1f1f;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: height 0.5s cubic-bezier(.04,.95,.31,1);
  padding: 0 10px;
}
.Dashboard .subscription_card.active {
  height: 120px;
  cursor: default;
}
.Dashboard .subscription_card > .subTop {
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Dashboard .subscription_card > .subTop > .subTopLeft {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.Dashboard .subscription_card > .subTop > .subTopLeft > p {
  font-size: 15px;
}
.Dashboard .subscription_card > .subTop > .subTopLeft > p > span {
  background-color: #DB8854;
  padding: 2px 4px;
  border-radius: 99999px;
  color: white;
  font-weight: "800";
  margin-left: 3px;
}

.Dashboard .subscription_card > .subTop > .subTopRight > p > span {
  font-size: 12px;
  color: rgb(255, 255, 255);
  font-weight: 300;
}

.Dashboard .subscription_card > .subBottom {
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.Dashboard .subscription_card > .subBottom > p {
  font-size: 10px;
  font-weight: 500;
  color: #979797;
  text-align: center;
}

@media screen and (max-width: 420px) {
  .Dashboard .subscription_card {
    width: 100%;
  }
}